In [69]:
import pandas as pd
from collections import Counter
import math

In [21]:
teaming = pd.read_csv('../results/20170722-112357/teaming2.out', header=None, names=['hash','team','semester'])
data = pd.read_csv('../project4.csv')

In [22]:
teaming

                                hash  team semester
0   642bddd5d6f11393f0a2c224e0cb6ad6     0    WT-15
1   04074a0671bb5b51850d6678b51b4497     0    WT-15
2   2e82abf8e85b5ff209870fe67da5746e     0    WT-15
3   d0c03244272fc074a85681a697760aa8     0    WT-15
4   40a526979ae2704d2abd2d4a57df330b     0    WT-15
5   83a414de6ece18dd41a2e9f581b936a2     1    WT-15
6   05b31f3594fe22222610776222de7d2c     1    WT-15
7   30e6823a0bbf9c6c0db0dd35ed88a95e     1    WT-15
8   44f3e1ed02d4bf0ad9ffaaeec79529ef     1    WT-15
9   f745d339cc18edc5702d6ed5c1cfa00e     1    WT-15
10  b9bcd53fd2867f65b37c80b20f6b85c3     2    WT-15
11  9b060f44ab7fca2c4699ef5eb4ce79ad     2    WT-15
12  b1ab5f5d7b27bf1d481e77572ed9114c     2    WT-15
13  0adf9670bc492e52319082fee7af0965     2    WT-15
14  72b0c43beddbb51390c48f795ef848b0     2    WT-15
15  0f474dde96e287acf44770c9d3a08726     3    WT-15
16  a24f75d8e3ce7f972f8ad51e01c39971     3    WT-15
17  119566dfc44f7aeddc6577041bec91ea     3    WT-15
18  43f8af90c5677301e3900367c4708751     3    WT-15
19  e81be79870ba82df4811aa637a019ab2     3    WT-15
20  59ec0b057eedda06d9d6b624f8e44c93     4    WT-15
21  c48e0143274db2a59ff99bf1013391c4     4    WT-15
22  1c98f50af3e022ecde9794a66a70a542     4    WT-15
23  41d2e16d2865f4bcc4a40790f1a1cbbc     4    WT-15
24  19125a91e1bb82782bb768a27317ac8f     4    WT-15
25  1ed20f1f90ad512200471b5915612829     5    WT-15
26  ab378874b45dc35e0f4bc2e410686d6b     5    WT-15
27  a09625f8f1ddd73adeb6db620222c2c6     5    WT-15
28  003c264f8053a40c14672f3a1717f7f4     5    WT-15
29  bff8adbe6cae66d247a1e6cde6208435     5    WT-15
..                               ...   ...      ...
50  957dde7f3208003d7a082cf8750db151    10    WT-15
51  edd7a109f49c613ca1ddb1480cdb84e7    10    WT-15
52  e2a22a124f7c76692cdf60b93c081b0f    10    WT-15
53  7cd3f610733074f5008c9f044db4fff5    10    WT-15
54  7c6981c437be905e1fb0d6a55574118e    10    WT-15
55  41e656d1b6f46bc3bab015e4c28ccbef    11    WT-15
56  903ef2eeaea945e8a50d5a60f8b49780    11    WT-15
57  ece8a2760fe4845b863686efbbd62669    11    WT-15
58  fe6f7a9e23e3871892e22dbc856917c1    11    WT-15
59  0e6b9f9e0fa26b80034db7a04675f453    11    WT-15
60  bafc7322f8a0bf34cae76a0df42c9d3b    12    WT-15
61  646f8fc4ea462ebed4c473f4fc1bbe6f    12    WT-15
62  fe801829c6d4d92514276bd6b814b2f6    12    WT-15
63  356705bca557c0e258736263ed283764    12    WT-15
64  f1683ef32a6ab0e09686fd4434fb872e    12    WT-15
65  3447196a426a272b6616cd36fbf69925    13    WT-15
66  1d7d77b5a1211746723dce012152b763    13    WT-15
67  2171139323f071c94eab6b52f7056141    13    WT-15
68  5c747e7d3baf7f156b0045a69493bfe3    13    WT-15
69  942ce901a594ea023442ba7a182a21a3    13    WT-15
70  46d33bbe16345e7c26f543c4d114a051    14    WT-15
71  f70c527905fb1b34ed34cc4fb6372be9    14    WT-15
72  0b26a4e4a7dc955cb2244d7fa00aa0a3    14    WT-15
73  618dcb360811ba1cc9e85b34c4fcbd5f    14    WT-15
74  c5bfd387855bd8af01b188606b62fcf0    14    WT-15
75  6f7f90cfe535b7a1a47e7de6233cac78    15    WT-15
76  198e2d35b8b0f3d2f29b2cfafd7c8c50    15    WT-15
77  66a31ecad325333f7c496ed9ad9e3b46    15    WT-15
78  b889851577294e393ee11a392a9b37e3    15    WT-15
79  9acc266b03be24d5a43adb9b5b7eb764    15    WT-15

[80 rows x 3 columns]

In [49]:
teams = pd.merge(teaming, data, on='hash')[['team', 'Sex', 'Discipline', 'Nationality']]
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(teams)

    team Sex            Discipline             Nationality
0      0   f  Creative Disciplines  Dutch or Netherlandish
1      0   f            Humanities                  German
2      0   m              Business                  German
3      0   m           Engineering                  German
4      0   m                 Media                  German
5      1   f  Creative Disciplines                 Mexican
6      1   m           Engineering                  German
7      1   m           Engineering                 Italian
8      1   m              Business                  German
9      1   f         Life Sciences                  German
10     2   m         Life Sciences                  German
11     2   m           Engineering                  German
12     2   f              Business                   Cuban
13     2   f            Humanities                  German
14     2   m           Engineering                  German
15     3   f  Creative Disciplines               Brazilian
16     3   m              Business                  German
17     3   m           Engineering                  German
18     3   m         Life Sciences                  German
19     3   f       Social Sciences                  German
20     4   f              Business              Sri Lankan
21     4   m                 Media                  German
22     4   m           Engineering                  German
23     4   f            Humanities                  German
24     4   f         Life Sciences                  German
25     5   f           Engineering                  German
26     5   f         Life Sciences                  German
27     5   f         Life Sciences                  German
28     5   m            Humanities                  German
29     5   m              Business                  German
30     5   m  Creative Disciplines              Macedonian
31     6   m              Business                  German
32     6   m           Engineering                  German
33     6   f              Business                  French
34     6   m  Creative Disciplines                  German
35     6   f       Social Sciences                  German
36     7   m              Business                  German
37     7   f  Creative Disciplines               Brazilian
38     7   m            Humanities                Nepalese
39     7   m           Engineering                  German
40     7   f       Social Sciences                  German
41     8   f              Business                  German
42     8   m           Engineering                  German
43     8   f  Creative Disciplines                  German
44     8   m           Engineering                  German
45     8   m            Humanities                Japanese
46     9   f       Social Sciences                  German
47     9   m           Engineering                  German
48     9   f              Business                  German
49     9   m           Engineering                  Indian
50     9   m         Life Sciences                  German
51    10   m           Engineering                  German
52    10   m  Creative Disciplines                 Italian
53    10   m           Engineering                  German
54    10   f       Social Sciences          American or US
55    10   f              Business                  German
56    11   f           Engineering                  German
57    11   m           Engineering                  German
58    11   m              Business                  German
59    11   f            Humanities  Dutch or Netherlandish
60    11   m         Life Sciences                  German
61    12   f            Humanities                  German
62    12   m           Engineering                  German
63    12   m         Life Sciences                  German
64    12   f       Social Sciences                 Italian
65    12   m              Business                  German
66    13   m              Business                  German
67    13   m         Life Sciences                  German
68    13   m            Humanities                  German
69    13   f           Engineering                  German
70    13   f           Engineering  Dutch or Netherlandish
71    14   f                 Media                  German
72    14   m           Engineering                  German
73    14   f       Social Sciences                 Mexican
74    14   m              Business                  German
75    14   m              Business                  German
76    15   f              Business                  Danish
77    15   f       Social Sciences                  German
78    15   m           Engineering                 Chilean
79    15   f            Humanities                  German
80    15   m         Life Sciences                  German

In [25]:
len(teams[teams['Nationality'] != 'German'])

20

In [29]:
teams['Discipline'].value_counts()

Engineering             23
Business                18
Life Sciences           11
Humanities              10
Creative Disciplines     8
Social Sciences          8
Media                    3
Name: Discipline, dtype: int64

In [30]:
teams['Nationality'].value_counts()

German                    61
Dutch or Netherlandish     3
Italian                    3
Mexican                    2
Brazilian                  2
Sri Lankan                 1
Macedonian                 1
Chilean                    1
Indian                     1
Nepalese                   1
Japanese                   1
French                     1
Cuban                      1
American or US             1
Danish                     1
Name: Nationality, dtype: int64

In [31]:
teams['Sex'].value_counts()

m    46
f    35
Name: Sex, dtype: int64

In [118]:
def single_entropy(team):
    counter = Counter(team)
    l = len(team)
    return -sum((c/l) * math.log(c/l) for c in counter.values())
        
def entropy(teams):
    return sum(single_entropy(team) for team in teams)

def max_entropy(value_map):
    n_teams = 16
    teams = []
    for _ in range(n_teams):
        teams.append([])
    i = 0
    for attr_id, value_count in enumerate(value_map):
        base_n = value_count // n_teams
        for team in teams:
            team.extend([attr_id] * base_n)
        value_count = value_count % n_teams
        while value_count > 0:
            teams[i].append(attr_id)
            value_count -= 1
            i = (i + 1) % n_teams
    return entropy(teams)
    

def max_entropy_teaming(teaming):
    attrs = ['Sex', 'Nationality', 'Discipline']
    return sum(max_entropy(teaming[attr].value_counts()) for attr in attrs)

def print_entropies(teaming):
    attrs = ['Sex', 'Nationality', 'Discipline']
    for attr in attrs:
        print(attr)
        print('no teaming: {:0.4f}'.format(single_entropy(teams[attr].values)))
        print('teaming: {:0.4f}'.format(max_entropy(teaming[attr].value_counts())))
        print('')
    print('total teaming: {:0.4f}'.format(max_entropy_teaming(teaming)))

In [104]:
max_entropy(teams['Nationality'].value_counts())

9.723203928639418

In [106]:
max_entropy_teaming(teams)

43.99573423209929

In [108]:
single_entropy(teams['Nationality'].values)

1.182997695798113

In [119]:
print_entropies(teams)

Sex
no teaming: 0.6839
teaming: 10.7883

Nationality
no teaming: 1.1830
teaming: 9.7232

Discipline
no teaming: 1.8005
teaming: 23.4842

total teaming: 43.9957